*.iml
.gradle
/local.properties
/.idea
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.externalNativeBuild
.cxx
local.properties
app/src/main/java/com/soccertips/predictx/network/Constants.kt
app/assets/env
/app/google-services.json
/app/lint-baseline.xml
Constants.kt
/app/release/
